<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
</head>
<body>
    <% include nav %>

<div class="container">
  <h1><%= name %></h1>

  <table class="table">
    <tr>
      <th>Created At</th>
      <th>Amazon Price</th>
      <th>Reseller Price</th>
      <th>Reseller Used Price</th>
    </tr>
    <% products.forEach(function(product) { %>
      <tr>
        <td><%=product.createdAt %></td>
        <td><%=product.amazonPrice %></td>
        <td><%=product.resellerNewPrice %></td>
        <td><%=product.resellerUsedPrice %></td>
      </tr>
    <% }); %>
  </table>
</div>
</body>
</html>